.container {
    display: flex;
    background-color: #f3f3f3;
}

.leftSide {
    background:
        linear-gradient(rgba(226, 66, 105, 0.8), rgba(156, 66, 105, 0.8)),
        url('./../../image/bank.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 30%;
    height: 90vh;
    position: sticky;
    top: 0;
    color: #FFF;
    display: flex;
    justify-content: center;
    font-size: 26px;
}

.leftSideTitle {
    margin-top: 45%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 42px;
    letter-spacing: 10px;
}

.rightSide {
    width: 70%;
}

.form {
    text-align: center;
}

.form input {
    border-radius: 3px;
    bottom: 1px solid rgb(225, 225, 225);
    padding: 10px;
    outline: none;
}

.form p {
    margin: 20px 0;
    font-size: 30px;
    letter-spacing: 3px;
}

ul {
    padding: 20px !important; 
    list-style-type: none;
}

.element {
    border-bottom: 1px solid rgb(225, 225, 225) ;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
    text-align: start;
}

.element > div {
    width: 50px;
}

.elementBtn {
    color: #FFF;
    border: none;
    background: rgba(156, 66, 105, 1);
    border-radius: 2px;
}

.elementBtn:hover {
    background: rgb(176, 74, 118);
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
    ul {
        column-count: 2;
    }
}

@media screen and (max-width: 500px) {
    .elements {
        font-size: 10px;
        height: 50px;
        padding: 5px;
    }

    ul {
        column-count: 2;
    }
}